{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="#"> <!--To solve favicon error-->
        <script src="{% static 'network/network.js'%}"></script>
    </head>
    <body>
        <div id="navbar" >
        <nav class="navbar navbar-expand-lg flex-sm-nowrap flex-wrap" id="navbar" style="background-color: darkorchid; margin-bottom: 0px;">
            <a class="navbar-brand" href="#" style="color: white;">Network</a>
          
            <div class="navbar-collapse collapse flex-grow-1 justify-content-center">
              <ul class="navbar-nav mx-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'profile' user.username %}" style="color: white;"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}" style="color: white;">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}" style="color: white;">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" style="color: white;">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}" style="color: white;">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}" style="color: white;">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        </div>

        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>